# Reporte Análisis II
Elaborado por Ximena Toledo

In [22]:
import pandas as pd

In [24]:
dataset = pd.read_csv('Alquiler_Residencial.csv', sep = ';')
dataset.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
5,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
6,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
7,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
8,Departamento,Pachacámac,1,0,0,36,1200.0,NaN,NaN
9,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0

In [25]:
# Identificar métodos para identificar NaA
dataset.isnull()

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...
22840,False,False,False,False,False,False,False,False,False
22841,False,False,False,False,False,False,False,False,False
22842,False,False,False,False,False,False,False,False,False
22843,False,False,False,False,False,False,False,False,False
22844,False,False,False,False,False,False,False,False,True

In [26]:
dataset.notnull()

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,False,False
2,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,False
4,True,True,True,True,True,True,True,False,False
...,...,...,...,...,...,...,...,...,...
22840,True,True,True,True,True,True,True,True,True
22841,True,True,True,True,True,True,True,True,True
22842,True,True,True,True,True,True,True,True,True
22843,True,True,True,True,True,True,True,True,True
22844,True,True,True,True,True,True,True,True,False

In [27]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22845 entries, 0 to 22844
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           22845 non-null  object
 1   Distrito       22845 non-null  object
 2   Cuartos        22845 non-null  int64
 3   Vacantes       22845 non-null  int64
 4   Suites         22845 non-null  int64
 5   Area           22845 non-null  int64
 6   Valor          22836 non-null  float64
 7   Mantenimiento  20796 non-null  float64
 8   Impuesto       15976 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

In [28]:
dataset['Valor'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
22840    False
22841    False
22842    False
22843    False
22844    False
Name: Valor, Length: 22845, dtype: bool

#### Extraer lineas con valores nulos (NaN)

In [29]:
dataset[dataset['Valor'].isnull()]

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
58,Departamento,Ate,2,1,1,70,NaN,970.0,68.0
1515,Departamento,San Bartolo,2,0,0,75,NaN,878.0,NaN
1708,Casa,Lince,3,4,3,363,NaN,NaN,NaN
2039,Departamento,Chorrillos,2,0,0,95,NaN,1010.0,170.0
2061,Departamento,San Borja,2,0,0,72,NaN,850.0,NaN
4998,Casa,Lince,3,2,1,100,NaN,NaN,NaN
8674,Departamento,San Bartolo,2,0,1,75,NaN,878.0,NaN
9061,Departamento,La Punta,3,0,1,135,NaN,910.0,228.0
9264,Departamento,La Perla,3,1,1,105,NaN,880.0,221.0

> El método dropna() es la única forma de eliminar información nula de un DataFrame.

In [30]:
A = dataset.shape[0]
dataset.dropna(subset = ['Valor'], inplace = True)

In [31]:
A

22845

In [34]:
B = dataset.shape[0]
B

22836

In [35]:
A - B

9

In [36]:
dataset[dataset['Valor'].isnull()]

Empty DataFrame
Columns: [Tipo, Distrito, Cuartos, Vacantes, Suites, Area, Valor, Mantenimiento, Impuesto]
Index: []

## Tratamientos de Datos Faltantes

In [38]:
dataset[dataset['Mantenimiento'].isnull()].shape[0]

2047

In [39]:
seleccion = (dataset['Mantenimiento'].isnull()) & (dataset['Tipo'] == 'Departamento')
seleccion

0        False
1        False
2        False
3        False
4         True
         ...
22840    False
22841    False
22842    False
22843    False
22844    False
Length: 22836, dtype: bool

In [40]:
A = dataset.shape[0]
dataset = dataset[~seleccion]
B = dataset.shape[0]
A - B

745

In [41]:
dataset[dataset['Mantenimiento'].isnull()].shape[0]

1302

In [43]:
dataset = dataset.fillna({'Mantenimiento':0, 'Impuesto':0})

In [44]:
dataset[dataset['Mantenimiento'].isnull()].shape[0]

0

In [45]:
dataset[dataset['Impuesto'].isnull()].shape[0]

0

In [47]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22091 entries, 0 to 22844
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           22091 non-null  object
 1   Distrito       22091 non-null  object
 2   Cuartos        22091 non-null  int64
 3   Vacantes       22091 non-null  int64
 4   Suites         22091 non-null  int64
 5   Area           22091 non-null  int64
 6   Valor          22091 non-null  float64
 7   Mantenimiento  22091 non-null  float64
 8   Impuesto       22091 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

In [48]:
dataset.to_csv('alquiler_residencial_sin_nan.csv', sep = ';', index = False)

## Desafío

In [55]:
inmuebles= pd.DataFrame([['Departamento', None, 970, 68], 
                        ['Departamento', 2000, 878, 112], 
                        ['Casa', 5000, None, 500], 
                        ['Departamento', None, 1010, 170], 
                        ['Departamento', 1500, 850, None], 
                        ['Casa', None, None, None], 
                        ['Departamento', 2000, 878, None], 
                        ['Departamento', 1550, None, 228], 
                        ['Departamento', 2500, 880, 195]], 
                        columns = ['Tipo', 'Valor', 'Mantenimiento', 'Impuesto'])

In [56]:
inmuebles.dropna(subset = ['Valor'], inplace = True)
inmuebles

           Tipo   Valor  Mantenimiento  Impuesto
1  Departamento  2000.0          878.0     112.0
2          Casa  5000.0            NaN     500.0
4  Departamento  1500.0          850.0       NaN
6  Departamento  2000.0          878.0       NaN
7  Departamento  1550.0            NaN     228.0
8  Departamento  2500.0          880.0     195.0

In [60]:
inmuebles = inmuebles.fillna({'Mantenimiento': 0, 'Impuesto': 0})
inmuebles

           Tipo   Valor  Mantenimiento  Impuesto
1  Departamento  2000.0          878.0     112.0
2          Casa  5000.0            0.0     500.0
4  Departamento  1500.0          850.0       0.0
6  Departamento  2000.0          878.0       0.0
7  Departamento  1550.0            0.0     228.0
8  Departamento  2500.0          880.0     195.0

In [61]:
inmuebles.index = range(inmuebles.shape[0])
inmuebles

           Tipo   Valor  Mantenimiento  Impuesto
0  Departamento  2000.0          878.0     112.0
1          Casa  5000.0            0.0     500.0
2  Departamento  1500.0          850.0       0.0
3  Departamento  2000.0          878.0       0.0
4  Departamento  1550.0            0.0     228.0
5  Departamento  2500.0          880.0     195.0

## Métodos de Interpolación

In [62]:
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]
s = pd.Series(data)
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [63]:
s.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.60
9     0.00
10    0.70
dtype: float64

In [64]:
s.fillna(method = 'ffill')

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [65]:
s.fillna(method = 'bfill')

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

In [66]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [67]:
s.fillna(s.mean())

0     0.500
1     0.575
2     0.575
3     0.520
4     0.540
5     0.575
6     0.575
7     0.590
8     0.600
9     0.575
10    0.700
dtype: float64

In [69]:
s.fillna(method = 'ffill', limit = 1)

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [70]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [71]:
s1 = s.fillna(method = 'ffill', limit = 1)
s1

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [72]:
s2 = s1.fillna(method = 'ffill', limit = 1)
s2

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64